@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: black;
}

.center {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
}

.container {
  width: 550px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 253px;
  padding: 10px;
  border-radius: 20px;
}

.autor {
  display: flex;
  width: 100%;
  font-weight: 400;

  font-size: 21px;
  align-items: end;
  justify-content: end;
}

.quotes {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #1cc4fc;
  font-weight: 500;
  margin-left: 30px;
}
.buttonsContainer {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: #1cc4fc;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:active {
  transform: scale(0.8);
}
